#hideruby {
  display: none;
}

#hidephp {
  display: none;
}

#hidejava {
  display: none;
}

#hidec {
  display: none;
}

#hidejavascript {
  display: none;
}

#hidecss {
  display: none;
}

#hidedesign {
  display: none;
}
